.button {
   
    margin-right: 20px;
    button {

        border: 1px solid #FC1370;
        background: #FC1370;
        color: white;
        border-radius: 10px;
        height: 35px;
        width: 200px;
        font-weight: 700;

        &:hover {
            cursor: pointer;
            opacity: .5;
          }


          &:active {
            background: #c71059dc;
            opacity: 1;
          }

          &:focus {
            outline: none;
          }
    }
}