.logo-name:hover {

   
    transform: scale(1.05);
}

p:hover {
    cursor: pointer;
    opacity: .7;
}

#exit-task-btn {
    border-style: none;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 12px;

    &:hover {
        color: white;
        transform: scale(1.1);
        background-color: black;

    }
}

.butoms {
    display: flex;
    width: 300px;
}